{% load static %}  <!-- Carrega a tag para usar arquivos estáticos como CSS-->
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Registrar</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Inclui o arquivo CSS -->
</head>
<body>
    <h1>Criar Conta</h1> <!-- Título da página -->
    <form method="post"> <!-- Formulário para registrar um novo usuário -->
        {% csrf_token %} <!-- Token CSRF para segurança -->
        {{ form.as_p }} <!-- Renderiza o formulário de registro -->
        <button type="submit">Registrar</button> <!-- Botão para enviar o formulário -->
    </form>
    <a href="{% url 'login' %}">Já tem conta? Faça login</a> <!-- Link para a página de login -->
</body>
</html>