{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Deletar Tarefa</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"> <!-- Inclui CSS -->
</head>
<body>
    <div class="container">  <!-- Contêiner centralizado -->
    <h1>Deletar Tarefa</h1>
    <p>Você tem certeza que deseja deletar a tarefa "<strong>{{ task.title }}</strong>"?</p>
    <form method="post" style="display: inline;">
       <!-- {% url 'task_delete' task.id %}"> O método post é usado para enviar dados ao servidor-->
        {% csrf_token %}
        <button type="submit" class="btn btn-delete">Deletar</button>
    </form>
    <a href="{% url 'task_list' %}" class="btn">Cancelar</a>
    </div> <!-- Fecha o contêiner -->
</body>
</html>
<!-- Esse template vai mostrar um formulário para deletar a tarefa, com um botão de confirmação e um link para voltar à lista de tarefas. -->